span.inputstr {
    font-family: monospace;
}
span.inputwrp {
    display: block;
}

pre.senseiout {
    border: 2px black;
    background-color: f0f0f0;
    display: -webkit-inline-box;
	padding: 1em;
}
span.outputheader {
    display: block;
}